<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, Nhibernate"/>  
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-3.0">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect>MsSql2005Dialect</property>
      <property name="query.substituions">hqlFunction=SQLFUNC</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClienteDriver</property>
      <property name="connection.connection_string">Data Source=(local);Initial Catalog=LojaLimpeza.DAL;Integrated Security=true</property>
      <property name="show_sql">true</property>
      <mapping assembly ="LojaLimpeza.DAL"/>
    </session-factory>    
  </hibernate-configuration>
</configuration>